*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}
.barra_navegacion{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.1);
    padding: 0 40px;
    z-index: 1000;
}

.opciones .aqui{
    font-weight: bold;
}

.opciones:hover .aqui{
    font-weight: normal;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    gap: 8px;
}
.logo img{
    position: relative;
    height: 60px;
    width: 60px;
    top: -6px;
}
.opciones{
    display: flex;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}

.opciones a{
    text-decoration: none;
    color: black;
}

.opciones a:hover{
    font-weight: bold;
}

.principal{
    flex: 1;
}

.ingredientes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
    font-family: 'popins', sans-serif;
    padding: 16px;
    color: #333;
    text-align: center;
    flex: 1;
    margin-top: 100px;
}

.ingredientes p{
    margin-top: -150px;
    padding-bottom: 260px;
}

.ingredientes h3{
    font-size: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.ingredientes ul{
    padding: 30px;
    list-style: none;
   
}

.contenedor_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 236, 165);
    width: 100%;
    height: 120px;
    padding: 0 70px;
}

.contenedor_footer .logo{
    font-size: 16px;
}

.texto_en_medio p{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.redes_sociales{
    margin-right: 50px;
}

.redes_sociales p{
    text-align: center;
    margin-bottom: 10px;
}

.icono img{
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: rgba(225, 225, 225, 0.6);
    transition: 0.3s ease;
}

.icono img:hover{
    scale: 1.04;
    background-color: white;
    cursor: pointer;
}